@import "tailwindcss";

#root {
    background-color: #151516;
    font-family: "Inconsolata", monospace;
}
.project-card p {
    color: white;
}
.skill-card p {
    color: white;
}
p {
    color: #989898;
}
b {
    color: white;
}

.navbar a {
    flex: 1;
    display: block;
    align-self: center;
    text-align: center;
    padding: 10px 0;
    border-radius: 50px;
    transition:background-color 0.2s ease;
    color: white;
    font-weight: bold;
}
.navbar a:hover {
    background-color: #8137b9;
}

.project-card {
    border: solid transparent;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}
.project-card:hover {
    border-color: #60258d;
    box-shadow: 0 0 2px 2px #60258d inset;
}